pydantic_core==2.33.2
numpy==2.3.2
GitPython==3.1.45
pip==25.2
requests==2.32.5
idna==3.10
urllib3==2.5.0
charset-normalizer==3.4.3
protobuf==6.32.0
pytz==2025.2
typing-inspection==0.4.1
platformdirs==4.3.8
PySocks==1.7.1
tzdata==2025.2
certifi==2025.8.3
h2==4.2.0
cffi==1.17.1
wandb==0.21.1
zstandard==0.23.0
gitdb==4.0.12
python-dateutil==2.9.0.post0
typing_extensions==4.15.0
click==8.2.1
Brotli==1.1.0
packaging==25.0
pycparser==2.22
pydantic==2.11.7
sentry-sdk==2.35.1
PyYAML==6.0.2
smmap==5.0.2
hpack==4.1.0
annotated-types==0.7.0
pandas==2.3.2
six==1.17.0
hyperframe==6.1.0
